<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./assets/images/BrowserLogo.png"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <title>Ian Miller | Full Stack Web Developer</title>
</head>

<body>
    <div class="container-fluid">

        <section class="hero-section">
            <div class="row">
                <div style="height: 90px;"></div>
            </div>
            <div class="row pb-5">
                <div
                    class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-xs-12 text-center pb-5">
                    <img src="./assets/images/LogoOutline.svg" class="img-fluid" alt="IMLogo" id="logo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12 text-center">
                    <nav class="nav-links">
                        <ul>
                            <li><a class="animated-link" href="#about" id="about-link">ABOUT</a></li>
                            <li><a class="animated-link" href="#work" id="work-link">WORK</a></li>
                            <li><a class="animated-link" href="#contact" id="contact-link">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

        <div class="gray-background-wrapper" id="about">
            <section class="about-section p-5">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h1 class="header pt-5 pb-5">ABOUT ME</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="p-2">My name is Ian Miller and I am a junior full stack web developer based in Los
                            Angeles, California USA. My coding journey began back in 2018 while attending the UCLA
                            coding
                            bootcamp,
                            and earning my certificate with an A. The comprehensive course led me to master HTML, CSS,
                            JavsScript/JQuery, Node.JS/Express, React, MySQL, and MongoDB. Not only did it teach me how
                            to code,
                            but it taught me how to work as effectively and efficiently as possible when it came to
                            group projects, with methods like daily SCRUM meetings and project boards to keep track of
                            the project's progress.
                            I have gone on to complete a contracted position for the City of Los Angeles, where I
                            developed an MVC web application using CakePHP and MySQL and also aided in the
                            development of an ASP.Net application related to the project. My focus and passion is
                            building complex logic in JavaScript.</p>
                    </div>
                </div>
                <div class="row pt-5 pb-5">
                    <div class="col-md-4 offset-md-4 text-center">
                        <img src="./assets/images/mypic2.png" style="width:55%" class="img-fluid" alt="about-picture">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="p-2">I am a disciplined developer with a strong work ethic and a good team player no
                            matter the situation. I am a quick learner and I use this skill to attain any knowledge I
                            need
                            to get the job done. My main career goal is gain enough experience to become a senior
                            developer leading groups for projects at major tech companies. In my down time, I am
                            bringing some of my app ideas
                            to fruition to hone my skills. Other hobbies outside of coding are hiking, exercising, and
                            gaming. If you have any interest in collaborating, please feel free to contact me at any
                            time!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h4 class="header pt-5 pb-5">TECHNOLOGIES</h4>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-md-2 col-sm-12 col-xs-12 offset-md-2">
                        <div class="row text-center">
                            <div class="col p-1 badge">
                                <img src="./assets/images/html.png" style="width: 65px;" class="img-fluid"
                                    alt="html logo">
                            </div>
                            <div class="col p-1 badge">
                                <img src="./assets/images/css.png" style="width: 65px;" class="img-fluid"
                                    alt="css logo">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="row text-center">
                            <div class="col p-1 badge">
                                <img src="./assets/images/js.png" style="width: 65px;" class="img-fluid"
                                    alt="javascript logo">
                            </div>
                            <div class="col p-1 badge">
                                <img src="./assets/images/bootstrap.png" style="width: 65px;" class="img-fluid"
                                    alt="bootstrap logo">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="row text-center">
                            <div class="col p-1 badge">
                                <img src="./assets/images/node.png" style="width: 65px;" class="img-fluid"
                                    alt="node logo">
                            </div>
                            <div class="col p-1 badge">
                                <img src="./assets/images/php.png" style="width: 65px;" class="img-fluid"
                                    alt="react logo">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="row text-center">
                            <div class="col p-1 badge">
                                <img src="./assets/images/react.png" style="width: 65px;" class="img-fluid"
                                    alt="php logo">
                            </div>
                            <div class="col p-1 badge">
                                <img src="./assets/images/mysql.png" style="width: 65px;" class="img-fluid"
                                    alt="mysql logo">
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="orange-background-wrapper" id="work">
            <section class="work-section p-5">

                <div class="row text-center pb-2">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h1 class="header pt-5 pb-5">MY WORK</h1>
                    </div>
                </div>

                <!-- ====================================================================================PROFESSIONAL========================================================================================= -->

                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h4 class="header pt-5 pb-5">PROFESSIONAL</h4>
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="./assets/images/boe.png" class="card-img-top"
                                    alt="Bureau of Engineering Logo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">ASP.Net Application for LA Bureau of Engineering (2019 -
                                        Present)</h5>
                                    <p class="card-text">
                                        ASP.Net, C#, SQL
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">BOE Web App</h5>
                                    <p class="card-text"><b>Summary:</b> This application is used to apply for
                                        excavation permits in the city of LA, and for the BOE staff to go through
                                        the necessary steps to approve and track all permits. <br>
                                        <b>Responsibilities:</b> My duties included converting old ColdFusion files to
                                        C# code, developing
                                        front-end pages and full-stack modules within the application, writing logic for
                                        data, and performing unit testing. <br>
                                        Due to contractual obligations, the code cannot be shared, but lead
                                        developer Adam Anand will confirm all details regarding my contributions.
                                        (Email: adamanand@psomas.com)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="./assets/images/bca.png" class="card-img-top"
                                    alt="Bureau of Contract Administration Logo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">CakePHP Application for LA Bureau of Contract Administration
                                        (2019 - Present)</h5>
                                    <p class="card-text">
                                        CakePHP, PHP, MySQL
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">BCA Web App</h5>
                                    <p class="card-text"><b>Summary:</b> This application is used to schedule
                                        inspections for government contracts in LA, and for BCA staff to then approve
                                        and assign inspectors. The application also receives information via REST call
                                        from the BOE web app on any permits related to a given contract.
                                        Any updated information for a given inspection is also sent to the BOE as well
                                        as a shared map application that displays the location of all inspections
                                        based off of their location data. <br>
                                        <b>Responsibilities:</b> My duties included the initialization of the
                                        application,
                                        creating front-end pages, implementing both front and back end logic, building
                                        schemas and procedures for MySQL database,
                                        setting up models, making REST calls to the BOE app, and performing unit
                                        testing. <br>
                                        Due to contractual obligations, the code cannot be shared, but lead developer
                                        Adam Anand will confirm all details regarding my contributions. (Email:
                                        adamanand@psomas.com)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="pb-5"></div>

                <hr>

                <!-- ===================================================================PERSONAL / COLLABORATIVE============================================================================================== -->

                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h4 class="header pt-5 pb-5">PERSONAL / COLLABORATIVE</h4>
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="https://media.giphy.com/media/l0pABjCWYmJAk5Wrhi/giphy.gif" class="card-img-top" alt="CHARToppers GIF">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">CHARToppers (2018)</h5>
                                    <p class="card-text">
                                        Node.JS, Express, Firebase
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">CHARToppers</h5>
                                    <p class="card-text"><b>Summary:</b> CHARToppers was my first group project at the
                                        UCLA bootcamp. It
                                        gives users the ability to view the top trending songs and top songs of the most
                                        popular genres
                                        via the LastFM API. We also used the YouTube API to link in the official music
                                        videos of all songs.
                                        Users can also favorite and share songs to the community section. Lyrics are
                                        also displayed for all
                                        songs favorited by the user. <br>
                                        <b>Responsibilities:</b> My main tasks were the back-end JavaScript,
                                        implementing the API logic for both
                                        LastFM and YouTube, and setting up the Firebase database and logic.</p>
                                    <a class="project-link" href="https://github.com/kevinthomaskane/CHARToppers"
                                        target="_blank">GitHub Page</a><br>
                                    <a class="project-link" href="https://kevinthomaskane.github.io/CHARToppers/"
                                        target="_blank">Main Page</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="https://media.giphy.com/media/gGlWTSCdTQAKh838Ek/giphy.gif" class="card-img-top" alt="Roastr GIF">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Roastr (2018)</h5>
                                    <p class="card-text">
                                        Node.JS, Express, React, MongoDB
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">Roastr</h5>
                                    <p class="card-text"><b>Summary:</b>This was my final group project in the UCLA
                                        bootcamp. The idea
                                        of this app is to allow friends to roast each other and the community then votes
                                        on the better
                                        roast. There is also a global chat for the whole community to react to the
                                        latest roasts in real time.<br>
                                        <b>Responsibilities:</b> I was responsible for most of the front and back end
                                        logic including users,
                                        authentication, sending and recieving roasts, setting up the database, and
                                        implementing middleware to
                                        get the global chat functioning.
                                    </p>
                                    <a class="project-link" href="https://github.com/anthonyelshafei/roastr"
                                        target="_blank">GitHub Page</a><br>
                                    <a class="project-link" href="https://roastr-app.herokuapp.com/"
                                        target="_blank">Main Page</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="pb-5"></div>

            </section>
        </div>

        <div class="gray-background-wrapper" id="contact">
            <section class="contact-section p-5">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h1 class="header pt-5 pb-5">CONTACT</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <p class="header pt-2 pb-2"><a class="project-link"
                                href="https://www.linkedin.com/in/ian-miller-webdeveloper/" target="_blank">LinkedIn</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <p class="header pt-2 pb-2"><a class="project-link" href="https://github.com/imiller1007"
                                target="_blank">GitHub</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <p><button class="header btn pt-2 pb-2" data-clipboard-text="contact.ianmiller@gmail.com">
                            contact.ianmiller@gmail.com
                        </button></p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <small class="header pt-5">2020 Ian Miller</small>
                    </div>
                </div>
            </section>
        </div>



    </div>
</body>

<script>


    function IntroAnimation() {
        setTimeout(function () { $("#about-link").fadeTo(3000, 1) }, 1000);
        setTimeout(function () { $("#work-link").fadeTo(3000, 1) }, 1300);
        setTimeout(function () { $("#contact-link").fadeTo(3000, 1) }, 1600);
        $("#logo").fadeTo(200, 0.5);
        $("#logo").fadeTo(2, 0.8);
        $("#logo").fadeTo(200, 1);
        $("#logo").fadeTo(50, 0.8);
        $("#logo").fadeTo(100, 0.7);
        $("#logo").fadeTo(7, 0.6);
        $("#logo").fadeTo(1, 1);
        $("#logo").fadeTo(90, 0.7);
        $("#logo").fadeTo(50, 0.3);
        $("#logo").fadeTo(57, 1);
        $("#logo").fadeTo(50, 0.4);
        $("#logo").fadeTo(100, 0.3);
        $("#logo").fadeTo(7, 0.6);
        $("#logo").fadeTo(1, 1);
        $("#logo").fadeTo(90, 0.7);
        $("#logo").fadeTo(50, 0.3);
        $("#logo").fadeTo(57, 1);
        $("#logo").fadeTo(50, 0.4);
        $("#logo").fadeTo(100, 0.3);
        $("#logo").fadeTo(7, 0.6);
        $("#logo").fadeTo(96, 0.8);
        $("#logo").fadeTo(96, 0.6);
        $("#logo").fadeTo(96, 1);
        $("#logo").fadeTo(100, 0.3);
        $("#logo").fadeTo(7, 0.6);
        $("#logo").fadeTo(96, 0.8);
        $("#logo").fadeTo(96, 0.6);
        $("#logo").fadeTo(7, 0.6);
        $("#logo").fadeTo(96, 0.8);
        $("#logo").fadeTo(96, 0.6);
        $("#logo").fadeTo(100, 0.3);
        $("#logo").fadeTo(7, 0.6);
        $("#logo").fadeTo(96, 0.8);
        $("#logo").fadeTo(96, 0.6);
        $("#logo").fadeTo(96, 1);
        $("#logo").fadeTo(96, 0.8);
        $("#logo").fadeTo(96, 1);
    }

    $(document).ready(function () {

        IntroAnimation();

        $("a").on('click', function (event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    window.location.hash = hash;
                });
            }
        });

        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
            $(".btn").text("Copied to clipboard");
            $(".btn").css( "text-decoration", "none");
            setTimeout(function(){ $(".btn").text("contact.ianmiller@gmail.com") }, 2000);
            setTimeout(function(){ $(".btn").css( "text-decoration", "underline") }, 2000);
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });

    });

    document.querySelector(".card-flip").classList.toggle("flip");

</script>

</html>



<!-- <div class="row">
    <div class="nav-menu text-center mx-auto">
        <h5><a href="#">HOME</a> / <a href="#">ABOUT</a> / <a href="#">WORK</a> / <a href="#">CONTACT</a></h5>
    </div>
</div> -->