    <section class="hero-section">
            <div class="row">
                <div style="height: 90px;"></div>
            </div>
            <div class="row pb-5">
                <div
                    class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-xs-12 text-center pb-5">
                    <img src="/images/LogoOutline.png" class="img-fluid" alt="IMLogo" id="logo">
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12 text-center">
                    <nav class="nav-links">
                        <ul>
                            <li><a class="animated-link" href="#about" id="about-link">ABOUT</a></li>
                            <li><a class="animated-link" href="#work" id="work-link">WORK</a></li>
                            <li><a class="animated-link" href="#contact" id="contact-link">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->
            <div class="d-flex justify-content-center">
                <div class=" nav flex-column flex-sm-row nav-links text-center">
                    <a class="animated-link" href="#about" id="about-link">ABOUT</a>
                    <a class="animated-link" href="#work" id="work-link">WORK</a>
                    <a class="animated-link" href="#contact" id="contact-link">CONTACT</a>
                </div>
            </div>



        </section>

        <div class="background-wrapper mb-5" id="about">
            <section class="about-section ">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h1 class="header pt-5 pb-5">ABOUT ME</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="p-2">Hello! I’m Ian Miller, a junior full stack web developer based in Los Angeles, California.
                        My journey into tech began in 2018 when I attended UCLA's coding bootcamp,
                        where I earned my certificate with an A.
                        This intensive course equipped me with a solid foundation in
                        HTML, CSS, JavaScript, jQuery, Node.js/Express, React, MySQL, and MongoDB.
                        It didn’t just teach me to code—it taught me to work efficiently in a team,
                        utilizing SCRUM meetings and project boards to keep workflows clear and effective.</p>
                    </div>
                </div>
                <div class="row pt-5 pb-5">
                    <div class="col-md-4 offset-md-4 text-center">
                        <img src="/images/mypic2.png" style="width:55%" class="img-fluid" alt="about-picture">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="p-2">Since then, I’ve had the opportunity to contribute to two high-impact web applications for the City of Los Angeles, now used across two departments and saving the city millions of dollars annually. While I’m skilled in full stack development, I’m particularly passionate about back-end programming, where I focus on creating efficient, scalable algorithms.

                                       Over the years, I’ve developed extensive expertise in Laravel’s Eloquent ORM, Manticore search, and GraphQL, and I’ve honed my project management skills using Jira to streamline complex projects. I’m a disciplined, quick learner with a strong work ethic, and I’m eager to keep expanding my skill set in preparation for a senior developer role, ideally leading projects in a major tech environment. In my spare time, I enjoy hiking, fitness, gaming, and building personal apps to sharpen my skills.

                                       If you’re interested in collaborating or discussing potential projects, feel free to reach out!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h4 class="header pt-5 pb-5">TECHNOLOGIES</h4>
                    </div>
                </div>

<!--                 <div class="row pb-5"> -->
<!--                     <div class="col-md-2 col-sm-12 col-xs-12 offset-md-2"> -->
<!--                         <div class="row text-center"> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/html.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="html logo"> -->
<!--                             </div> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/css.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="css logo"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!--                     <div class="col-md-2 col-sm-12 col-xs-12"> -->
<!--                         <div class="row text-center"> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/js.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="javascript logo"> -->
<!--                             </div> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/bootstrap.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="bootstrap logo"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!--                     <div class="col-md-2 col-sm-12 col-xs-12"> -->
<!--                         <div class="row text-center"> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/node.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="node logo"> -->
<!--                             </div> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/php.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="react logo"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!--                     <div class="col-md-2 col-sm-12 col-xs-12"> -->
<!--                         <div class="row text-center"> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/react.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="php logo"> -->
<!--                             </div> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/mysql.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="mysql logo"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!--                     <div class="col-md-2 col-sm-12 col-xs-12"> -->
<!--                         <div class="row text-center"> -->
<!--                             <div class="col p-1 badge"> -->
<!--                                 <img src="/images/LaravelLogo.png" style="width: 65px;" class="img-fluid" -->
<!--                                     alt="mysql logo"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->

<!--                 </div> -->

<div class="container my-5">
  <div class="row justify-content-center text-center">
    <!-- Each logo gets its own column, which adapts responsively -->
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/html.png" alt="HTML Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/css.png" alt="CSS Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/js.png" alt="JavaScript Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/bootstrap.png" alt="Bootstrap Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/node.png" alt="Node.js Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/php.png" alt="PHP Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/react.png" alt="React Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/mysql.png" alt="MySQL Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/LaravelLogo.png" alt="Laravel Logo" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/resticon.png" alt="REST icon" class="img-fluid" style="width: 65px;">
    </div>
    <div class="col-4 col-sm-3 col-md-2 p-2 badge">
      <img src="/images/gqlLogo.png" alt="GraphQL Logo" class="img-fluid" style="width: 65px;">
    </div>
  </div>
</div>

            </section>
        </div>

        <div class="background-wrapper mb-5" id="work">
            <section class="work-section p-5">

                <div class="row text-center pb-2">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h1 class="header pt-5 pb-5">MY WORK</h1>
                    </div>
                </div>

                <!-- ====================================================================================PROFESSIONAL========================================================================================= -->

                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h4 class="header pt-5 pb-5">PROFESSIONAL</h4>
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="/images/maverixLogo.png" class="card-img-top"
                                    alt="Bureau of Engineering Logo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Maverix Broadband (2022 -
                                        2024)</h5>
                                    <p class="card-text">
                                        PHP, REST, Laravel(Eloquent ORM), MySQL, MongoDB
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">Maverix Broadband</h5>
                                    <p class="card-text"><b>Summary:</b> At Maverix Broadband, I focused on building and maintaining backend systems
                                     to support scalable and efficient data management. Using Laravel’s Eloquent ORM, I developed RESTful APIs
                                      for robust database modeling and streamlined data handling. I also implemented Swagger UI
                                      to ensure comprehensive API documentation, promoting seamless integration and scalability.
                                      In addition, I led backend team meetings to assess project requirements, managed task assignments,
                                      and facilitated cross-team communication through Jira, helping to keep development efforts aligned and on track.
                                        <b>Responsibilities:</b>
                                        <ul>
                                          <li>Developed REST APIs using Laravel’s Eloquent ORM for efficient and reliable database modeling and data management.</li>
                                          <li>Implemented Swagger UI for clear and thorough API endpoint documentation, enabling easier scaling and data handling.</li>
                                          <li>Led backend team meetings to evaluate project requirements, assign tasks, and address technical challenges.</li>
                                          <li>Authored and managed Jira tickets, ensuring smooth communication and workflow coordination across development teams.</li>
                                        </ul>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="/images/wheresweedlogo.png" class="card-img-top"
                                    alt="Bureau of Engineering Logo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Where's Weed (2021 -
                                        2022)</h5>
                                    <p class="card-text">
                                        PHP, GraphQL, MySQL, Manticore Search
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">Where's Weed</h5>
                                    <p class="card-text"><b>Summary:</b> I played a key role in developing backend infrastructure to enhance the company’s
                                     data handling, retrieval, and integration processes. Using a combination of PHP, GraphQL, and database technologies,
                                     I designed systems to improve data efficiency and support high-speed queries.
                                     My work involved developing and optimizing MySQL and Manticore Search databases,
                                     integrating multiple point-of-sale (POS) APIs into a centralized backend,
                                     and enhancing SEO results to boost visibility and user engagement.
                                     Through these efforts, Where's Weed achieved faster data access,
                                     improved operational workflows, and consistent top search engine rankings. <br>
                                        <b>Responsibilities:</b>
                                        <ul>
                                            <li>Designed and implemented GraphQL API endpoints with PHP to facilitate efficient, targeted data querying for frontend needs.</li>
                                            <li>Developed and optimized MySQL and Manticore Search databases, supporting high-speed querying across millions of records.</li>
                                            <li>Integrated multiple POS APIs into a cohesive backend hub, streamlining dispensary management and data synchronization.</li>
                                            <li>Greatly contributed to a performance enhancement project that improved data retrieval speed by 30%, significantly enhancing the user experience.</li>
                                            <li>Collaborated closely with the SEO team to implement backend optimizations, leading to consistent top-ranking search results for high-traffic keywords.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="/images/boe.png" class="card-img-top"
                                    alt="Bureau of Engineering Logo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">ASP.Net Application for LA Bureau of Engineering (2019 -
                                        2021)</h5>
                                    <p class="card-text">
                                        ASP.Net, C#, SQL
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">BOE Web App</h5>
                                    <p class="card-text"><b>Summary:</b> This application is used to apply for
                                        excavation permits in the city of LA, and for the BOE staff to go through
                                        the necessary steps to approve and track all permits. <br>
                                        <b>Responsibilities:</b> My duties included converting old ColdFusion files to
                                        C# code, developing
                                        front-end pages and full-stack modules within the application, writing logic for
                                        data, and performing unit testing. <br>
                                        Due to contractual obligations, the code cannot be shared, but lead
                                        developer Adam Anand will confirm all details regarding my contributions.
                                        (Email: adamanand@psomas.com)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="/images/bca.png" class="card-img-top"
                                    alt="Bureau of Contract Administration Logo">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">CakePHP Application for LA Bureau of Contract Administration
                                        (2019 - 2021)</h5>
                                    <p class="card-text">
                                        CakePHP, PHP, MySQL
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">BCA Web App</h5>
                                    <p class="card-text"><b>Summary:</b> This application is used to schedule
                                        inspections for government contracts in LA, and for BCA staff to then approve
                                        and assign inspectors. The application also receives information via REST call
                                        from the BOE web app on any permits related to a given contract.
                                        Any updated information for a given inspection is also sent to the BOE as well
                                        as a shared map application that displays the location of all inspections
                                        based off of their location data. <br>
                                        <b>Responsibilities:</b> My duties included the initialization of the
                                        application,
                                        creating front-end pages, implementing both front and back end logic, building
                                        schemas and procedures for MySQL database,
                                        setting up models, making REST calls to the BOE app, and performing unit
                                        testing. <br>
                                        Due to contractual obligations, the code cannot be shared, but lead developer
                                        Adam Anand will confirm all details regarding my contributions. (Email:
                                        adamanand@psomas.com)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="pb-5"></div>

                <hr>

                <!-- ===================================================================PERSONAL / COLLABORATIVE============================================================================================== -->

                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h4 class="header pt-5 pb-5">PERSONAL / COLLABORATIVE</h4>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="https://media.giphy.com/media/l0pABjCWYmJAk5Wrhi/giphy.gif" class="card-img-top" alt="CHARToppers GIF">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">CHARToppers (2018)</h5>
                                    <p class="card-text">
                                        Node.JS, Express, Firebase
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">CHARToppers</h5>
                                    <p class="card-text"><b>Summary:</b> CHARToppers was my first group project at the
                                        UCLA bootcamp. It
                                        gives users the ability to view the top trending songs and top songs of the most
                                        popular genres
                                        via the LastFM API. We also used the YouTube API to link in the official music
                                        videos of all songs.
                                        Users can also favorite and share songs to the community section. Lyrics are
                                        also displayed for all
                                        songs favorited by the user. <br>
                                        <b>Responsibilities:</b> My main tasks were the back-end JavaScript,
                                        implementing the API logic for both
                                        LastFM and YouTube, and setting up the Firebase database and logic.</p>
                                    <a class="project-link" href="https://github.com/kevinthomaskane/CHARToppers"
                                        target="_blank">GitHub Page</a><br>
                                    <a class="project-link" href="https://kevinthomaskane.github.io/CHARToppers/"
                                        target="_blank">Main Page</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="https://media.giphy.com/media/gGlWTSCdTQAKh838Ek/giphy.gif" class="card-img-top" alt="Roastr GIF">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">Roastr (2018)</h5>
                                    <p class="card-text">
                                        Node.JS, Express, React, MongoDB
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">Roastr</h5>
                                    <p class="card-text"><b>Summary:</b>This was my final group project in the UCLA
                                        bootcamp. The idea
                                        of this app is to allow friends to roast each other and the community then votes
                                        on the better
                                        roast. There is also a global chat for the whole community to react to the
                                        latest roasts in real time.<br>
                                        <b>Responsibilities:</b> I was responsible for most of the front and back end
                                        logic including users,
                                        authentication, sending and recieving roasts, setting up the database, and
                                        implementing middleware to
                                        get the global chat functioning.
                                    </p>
                                    <a class="project-link" href="https://github.com/anthonyelshafei/roastr"
                                        target="_blank">GitHub Page</a><br>
                                    <a class="project-link" href="https://roastr-app.herokuapp.com/"
                                        target="_blank">Main Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- FITMOD -->
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-2">
                        <div class="card-container">
                            <div class="card rounded-0 card-front">
                                <img src="images/FITMOD.gif" class="card-img-top" alt="Roastr GIF">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">FITMOD (2021)</h5>
                                    <p class="card-text">
                                        PHP, MySQL, Apache, JQuery
                                    </p>
                                    <div class="mt-auto">
                                        <p><b>Hover over</b> or <b>tap</b> to see more info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card rounded-0 card-back">
                                <div class="card-body">
                                    <h5 class="card-title">FITMOD</h5>
                                    <p class="card-text"><b>Summary:</b>
                                        This was a personal project I worked on over the summer. It is a web application to create, share,
                                        and save daily workouts. Users have the ability to attach these workouts to their schedule and record
                                        their reps/weight for each exercise. Users can then keep track of their results as they hopefully see improvement 
                                        with each exercise. I am working on the same project but with a Laravel framework that will have additional features
                                        than what is currently available. This existing version uses a custom object-oriented PHP framework, apache server,
                                        and a MySQL database. This was a solo project.
                                    </p>
                                    <a class="project-link" href="https://github.com/imiller1007/fitmod"
                                        target="_blank">GitHub Page</a><br>
                                    <a class="project-link" href="https://fitmod-app.com/"
                                        target="_blank">Main Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                </div>

                <div class="pb-5"></div>

            </section>
        </div>

        <div class="background-wrapper" id="contact">
            <section class="contact-section p-5">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <h1 class="header pt-5 pb-5">CONTACT</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <p class="header pt-2 pb-2"><a class="project-link"
                                href="https://www.linkedin.com/in/ian-miller-webdeveloper/" target="_blank">LinkedIn</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <p class="header pt-2 pb-2"><a class="project-link" href="https://github.com/imiller1007"
                                target="_blank">GitHub</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <p><button class="header btn pt-2 pb-2" id="emailBtn" data-clipboard-text="contact.ianmiller@gmail.com">
                            contact.ianmiller@gmail.com
                        </button></p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 text-center">
                        <small class="header pt-5">2024 Ian Miller</small>
                    </div>
                </div>
            </section>
        </div>



    </div>