body {
    height: auto;

    background-image: url("../images/los-angeles-1790986.jpg");
    
    background-position: center center;
    
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    
    background-size: cover;
    
    background-color: #464646;
}

.header {
    font-family: 'Montserrat', sans-serif;
}

#logo {
    opacity: 0;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    color: orange;
    text-decoration: none;
    font-size: 24px;
    padding: 15px;
    transition: color 0.5s, text-shadow 0.5s;
}

.nav-links a:hover{
    text-shadow: 2px 2px 5px white;
    color: white;
    border-bottom: 3px, solid, white;
}

.hero-section {
    height: 100vh;
    overflow: hidden;
}

.about-section {
    color: orange;
}

.gray-background-wrapper {
    background-color: #464646;
}

.work-section {
    color: #464646;
}

.orange-background-wrapper {
    background-color: orange;
}

.contact-section {
    color: orange;
}

.badge:hover {
    transform: rotate(360deg);
    transition: all 0.3s;
}

.card-container {
    position: relative;
    max-width: 22rem;
    perspective: 1000px;
    height: 500px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-container:hover .card-front {
    transform: rotateY(180deg);
}

.card-container:hover .card-back {
    transform: rotateY(0deg);
}

.card {
    background-color: #464646!important;
    color: orange!important;
}

.card-back {
    transform: rotateY(180deg);
    overflow-y: scroll;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.9s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* custom scrollbar for body*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #464646; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: orange; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(223, 145, 0); 
  }

/* custom scrollbar for card*/
  .card-back::-webkit-scrollbar {
    width: 10px;
  }
  
  .card-back::-webkit-scrollbar-track {
    background: #464646; 
  }
   
  .card-back::-webkit-scrollbar-thumb {
    background: rgb(112, 112, 112); 
  }
  
  .card-back::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }

  .project-link {
    color: orange;
    text-decoration: underline;
    transition: color 0.5s, text-shadow 0.5s;
  }

  .project-link:hover {
    text-shadow: 2px 2px 5px white;
    color: white;
    border-bottom: 3px, solid, white;
  }

  .btn {
    font-family: 'Montserrat', sans-serif;  
    color: orange;
    background-color: #464646;
    border: 0px solid transparent;
    text-decoration: underline;
    transition: color 0.5s, text-shadow 0.5s;
  }

  .btn:hover {
    text-shadow: 2px 2px 5px white;
    color: white;
    border-bottom: 3px, solid, white;
  }
